* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8fa;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
}

#container-first-navbar {
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    width: 100%;
}

#first-navbar {
    width: 80%;
    margin: auto;
}

.first-navbar-left {
    float: left;
    font-weight: 100;
    font-size: 15px;
}

.first-navbar-left ul li {
    list-style-type: none;
    display: inline-block;
    padding: 25px 60px 25px 0;
}

#english {
    padding: 2px 30px 0 0;
    border-right: 2px  solid #cbd6e2;
}

.fa-sort-down {
    font-size: 25px;
    color: #7c98b6;
}

#contact-us {
    padding-left: 30px;
}

.first-navbar-right {
    float: right;
    padding: 18px;
}

.fa-search {
    color: #3cb8cc;
    font-size: 15px;
}

.first-navbar-right button {
    padding: 9px 13px;
    font-size: 13px;
    border-radius: 3px;
}

#login {
    border: 1px solid #ff7a59;
    color: #ff7a59;
    background-color: white;
    margin-left: 20px;
    margin-right: 5px;
}

#hubspot {
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: white;
}

#container-second-navbar {
    background-color: white;
    width: 100%;
}

#second-navbar {
    width: 80%;
    margin: auto;
}

#logo {
    float:left;
    padding: 20px 0 20px 0;
}

#logo img {
    height: 35px;
}

#second-navbar-right {
    float: right;
}

#second-navbar-right ul li {
    list-style-type: none;
    display: inline-block;
    padding: 28px 20px 28px 20px;
}

#second-navbar-right ul li a {
    text-decoration: none;
    color: #33475b;
    font-size: 16px;
    font-weight: bolder;
}

#container-jumbo {
    background-image: url("https://i.postimg.cc/W4tGDrzm/Immagine.png");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#jumbo {
    width: 80%;
    margin: auto;
}

#introduction-jumbo {
    width: 40%;
    color: #33475b;
}

h1 {
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 30px;
}

#introduction-jumbo p {
    font-size: 17px;
    font-weight: 100;
    padding-bottom: 30px;
    line-height: 25px;
}

#introduction-jumbo button {
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: white;
    padding: 25px 35px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 600;
}

#introduction-jumbo p:last-child {
    font-size: 12px;
    line-height: 20px;
    padding-top: 20px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
