* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8fa;
    font-family: 'Roboto', sans-serif;
    color: #33475b;
}

header {
    width: 100%;
    position: relative;
}

#container-first-navbar {
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
    width: 100%;
    position: fixed;
}

#first-navbar {
    width: 80%;
    margin: auto;
}

.first-navbar-left {
    float: left;
    font-weight: 100;
    font-size: 15px;
}

.first-navbar-left ul li {
    list-style-type: none;
    display: inline-block;
    padding: 25px 60px 25px 0;
}

#english {
    padding: 2px 30px 0 0;
    border-right: 2px  solid #cbd6e2;
}

.fa-sort-down {
    font-size: 25px;
    color: #7c98b6;
}

#contact-us {
    padding-left: 30px;
}

.first-navbar-right {
    float: right;
    padding: 18px;
}

.fa-search {
    color: #3cb8cc;
    font-size: 15px;
}

.first-navbar-right button {
    padding: 9px 13px;
    font-size: 13px;
    border-radius: 3px;
}

#login {
    border: 1px solid #ff7a59;
    color: #ff7a59;
    background-color: white;
    margin-left: 20px;
    margin-right: 5px;
}

#hubspot {
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: white;
}

#container-second-navbar {
    background-color: white;
    width: 100%;
    padding-top: 70px;
}

#second-navbar {
    width: 80%;
    margin: auto;
}

#logo {
    float:left;
    padding: 20px 0 20px 0;
}

#logo img {
    height: 35px;
}

#second-navbar-right {
    float: right;
}

#second-navbar-right ul li {
    list-style-type: none;
    display: inline-block;
    padding: 28px 20px 28px 20px;
}

#second-navbar-right ul li a {
    text-decoration: none;
    color: #33475b;
    font-size: 16px;
    font-weight: bolder;
}

#container-jumbo {
    background-image: url("https://i.postimg.cc/W4tGDrzm/Immagine.png");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#jumbo {
    width: 80%;
    margin: auto;
}

#introduction-jumbo {
    width: 40%;
}

h1 {
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 30px;
}

#introduction-jumbo p {
    font-size: 17px;
    font-weight: 100;
    padding-bottom: 30px;
    line-height: 25px;
}

#introduction-jumbo button {
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: white;
    padding: 25px 35px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 600;
}

#introduction-jumbo p:last-child {
    font-size: 12px;
    line-height: 20px;
    padding-top: 20px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

main {
    width: 100%;
}

.container-part1 {
    margin: 80px auto;
    width: 71%;
    text-align: center;
    margin-bottom: 120px
}

.container-part1 img {
    height: 200px;
    margin-bottom: 10px;
}

.container-part1 h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.container-part1 p {
    font-size: 17px;
}

#CMR {
    background-color: white;
    margin-top: 50px;
    border-radius: 3px;
    margin-bottom: 40px;
    padding: 40px 100px;
}

#marketing {
    width: 31%;
    background-color: white;
    display: inline-block;
    padding: 27px;
    border-radius: 3px;
}

#sales {
    width: 31%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    display: inline-block;
    padding: 27px;
    border-radius: 3px;
}

#service {
    width: 31%;
    background-color: white;
    display: inline-block;
    padding: 27px;
    border-radius: 3px;
}

#marketing img, #sales img, #service img {
    height: 150px;
}

#marketing h3, #sales h3, #service h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}

#marketing p, #sales p, #service p {
    text-align: left;
    font-size: 15px;
    font-weight: 200;
    line-height: 23px;
}

#marketing hr, #sales hr, #service hr {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #33475b;
}

h5 {
    margin-bottom: 20px;
}

#marketing span, #sales span, #service span {
    display: block;
    text-align: left;
    line-height: 30px;
    font-size: 14px;
}

.fa-check-circle {
    color: #ff7a59;
    margin-right: 10px;
    font-size: 20px;
}

#marketing button, #sales button, #service button {
    font-weight: 600;
    color: white;
    background-color: #ff7a59;
    border-radius: 3px;
    padding: 10px 25px;
    border: 1px solid #ff7a59;
    font-size: 15px;
    margin-top: 20px;
}
